<style>
 h1 { border-width:2px;}
 #l { font-size:50px;}
 #m { font-size:34px;}
 .c { background-color:F5ADAD;}

 .right  {float:right;}
 .center {float:center;}
 li:hover {background:aqua;}
 li:active {background:red;}
  </style>

<body>
<h1 id="l" class="center"> Pick a Borough: </h1>
<form name="Choose_Boro action="/borough method='POST'>
	<select id="m">
		<option value="q">Queens</option>
		<option value="b">Brooklyn</option>
		<option value="bx">Bronx</option>
		<option value="s">Staten Island lol</option>
		<option value="m">Manhattan</option>
	</select>
</form>
</body> 